<!-- File: main.html
Author: Justin Wang (justin1@bu.edu), 2/12/2025
Description: Main template -->

{% extends 'restaurant/base.html' %}

{% block content %}

<div>
    <h1>Mcdonald's</h1>

    <h2>Location</h2>
    <p>540 Commonwealth Ave, Boston, MA 02215</p>

    <h2>Hours</h2>
    <table>
        <tr><td>Monday</td><td>6:00 AM - 3:00 AM</td></tr>
        <tr><td>Tuesday</td><td>6:00 AM - 3:00 AM</td></tr>
        <tr><td>Wednesday</td><td>6:00 AM - 3:00 AM</td></tr>
        <tr><td>Thursday</td><td>6:00 AM - 3:00 AM</td></tr>
        <tr><td>Friday</td><td>6:00 AM - 3:00 AM</td></tr>
        <tr><td>Saturday</td><td>6:00 AM - 3:00 AM</td></tr>
        <tr><td>Sunday</td><td>7:00 AM - 3:00 AM</td></tr>
    </table>

    <img class="main-img" src="https://s7d1.scene7.com/is/image/mcdonalds/1Pub_QPC_AngelReese_2336x1040:1-column-desktop?resmode=sharp2">
</div>

{% endblock %}