<!-- File: create_status_form.html
Author: Justin Wang (justin1@bu.edu), 2/27/2025 modified 3/27/2025
Description: Create status form template -->

{% extends 'mini_fb/base.html' %}

{% block content %}

<main class="form">
    <h2>Create a new status message for {{ profile.first_name }} {{ profile.last_name }}</h2>
    <form action="{% url 'create_status' %}" method="post" enctype="multipart/form-data">
        {% csrf_token %}
        {{ form.as_p }}
        <input type="file" name = "files" multiple />
        <button type="submit">Create Status</button>
        <a href="{% url 'show_profile' profile.pk %}" class="button">Cancel</a>
    </form>
</main>

{% endblock %}