<!-- File: login.html
Author: Justin Wang (justin1@bu.edu), 3/26/2025
Description: Login template -->

{% extends 'mini_fb/base.html' %}

{% block content %}

<main class="form">
    <h2>Login</h2>
    <form action="{% url 'login' %}" method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit">Login</button>
        {% if request.GET.next %}
        <input type="hidden" name="next" value="{{ request.GET.next }}">
        {% else %}
        <input type="hidden" name="next" value="{% url 'show_all_profile' %}">
        {% endif %}
        <a href="{% url 'show_all_profile' %}" class="button">Cancel</a>
    </form>
</main>

{% endblock %}