<!-- File: show_all_profiles.html
Author: Justin Wang (justin1@bu.edu), 2/23/2025 modified 3/27/2025
Description: Show all profiles template -->

{% extends 'mini_fb/base.html' %}

{% block content %}

<main class="people">
    <h1>People</h1>
    
    <div class="people-container">
        {% for profile in profiles %}
        <a href="{% url 'show_profile' profile.pk %}" class="profile-card-link">
            <div class="profile-card">
                <div class="profile-image">
                    <img class="profile-circle profile-circle-sm" src="{{ profile.profile_image_url }}">
                </div>
                <div class="profile-details">
                    <h3>{{ profile.first_name }} {{ profile.last_name }}{% if current_user_profile == profile %} (You){% endif %}</h3>
                    <p>{{ profile.city }}</p>
                </div>
            </div>
        </a>
        {% endfor %}
    </div>
</main>

{% endblock %}