<!-- File: show_profile.html
Author: Justin Wang (justin1@bu.edu), 2/23/2025 modified 3/06/2025
Description: Show profile template -->

{% extends 'mini_fb/base.html' %}

{% block content %}

<main class="profile-page">
    <div class="profile-header">
        <img class="profile-circle profile-circle-lg" src="{{ profile.profile_image_url }}">
        <div class="profile-info">
            <h2>{{ profile.first_name }} {{ profile.last_name }}</h2>
            <p>{{ profile.city }}</p>
            <p>{{ profile.email_address }}</p>
        </div>
        <div class="profile-buttons">
            <a href="{% url 'update_profile' profile.pk %}" class="profile-button">Update Profile</a>
            <a href="{% url 'create_status' profile.pk %}" class="profile-button">Create Status</a>
        </div>
    </div>
    
    <div class="status-messages">
        <h3>Status Messages</h3>
        <div class="divider"></div>
        
        {% for status_message in profile.get_status_messages %}
        <div class="message-item">
            <p>{{ status_message.message }}</p>
            {% for image in status_message.get_images %}
            <img src="{{ image.image_file.url }}" class="status-message-image">
            {% endfor %}
            <p>{{ status_message.timestamp }}</p>
            <a href="{% url 'update_status' status_message.pk %}" class="profile-button">Update</a>
            <a href="{% url 'delete_status' status_message.pk %}" class="profile-button">Delete</a>
        </div>
        {% endfor %}
    </div>
</main>

{% endblock %}